<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloGithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16683C931ECD7B00007A4F2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16683CAC1ECD7B00007A4F2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16683CB71ECD7B00007A4F2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
